*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    height:60px;
     background-color: #000000e4;
     color:#fff;
     justify-content: space-evenly;
     

}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.bx0unncdOUoy6-9iq_Uf7gAAAA?r=0&pid=ImgDet&w=199&h=139&c=7&dpr=1.3&o=7&rm=3);
  background-size: cover;
  height: 51px;
  width: 100%;
}
.border{
    border-radius: 5px;
    border: 2px solid transparent;

}
.border:hover{
    
    border: 3px solid rgb(245, 199, 14);
}
.add-first{
    margin-top: 10px;
    color: #cccccc;
    font-size: 0.85rem;

}
a{
    color: #cccccc;
    text-decoration: none;
}
.add-icon{
   display: flex;
   align-items: center;
}
.add-sec{
    font-size: 0.85rem;
    color: #cccccc;
}
.nav-address{
    border: 2px solid transparent;
    border-radius: 5px;
}
.nav-address:hover{
    border: 3px solid rgb(245, 199, 14);
}
.nav-search{
    display: flex;
}
.search-select{
    background-color: #cccccc;
    width: 40px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    border: 2px solid transparent;
}
.search-select:hover{
    border: 2px solid rgb(14, 14, 10);
}
.search-input{
    width: 400px;
}
.search-icon{
    padding: 10px;
    background-color: rgb(230, 165, 14);
    width: 25px;
    border-radius: 0px 5px 5px 0px;
}
.search-icon:hover{
    border: 2px solid rgba(245, 199, 14, 0.684);
    background-color: #ff9c11;
}
.nav-signin{
    font-size: 0.85rem;
    border: 2px solid transparent;
    border-radius: 5px;
}
.nav-signin:hover{
    border: 2px solid  rgb(230, 165, 14);
}