*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
/* For navigation bar */
.navbar{
    display: flex;
    align-items: center;
    height:60px;
     background-color: #0F2747;
     color:#fff;
     justify-content: space-evenly;
     

}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    
    background-image: url(https://i.fbcd.co/products/resized/resized-750-500/ab-modern-logo-2-45fb3aac0507bfba07e0bb53bfe843f2410643b671b686d2104dcf61c5b27d7c.jpg);
  background-size: cover;
  border-radius: 5px;
  height: 51px;
  width: 100%;
  padding-bottom: 2px;
}
.border{
    border-radius: 5px;
    border: 2px solid transparent;

}
.border:hover{
    
    border: 3px solid rgb(248, 248, 246);
}
.add-first{
    margin-top: 10px;
    color: #cccccc;
    font-size: 0.85rem;

}
a{
    color: #cccccc;
    text-decoration: none;
}
.add-icon{
   display: flex;
   align-items: center;
}
.add-sec{
    font-size: 0.85rem;
    color: #cccccc;
}
.nav-address{
    border: 2px solid transparent;
    border-radius: 5px;
}
.nav-address:hover{
    border: 3px solid rgb(241, 239, 234);
}
.nav-search{
    display: flex;
}
/* For select button */
.search-select{
    background-color: #cccccc;
    width: 40px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    border: 2px solid transparent;
}
.search-select:hover{
    border: 2px solid rgb(239, 239, 231);
}
.search-input{
    width: 500px;
}
.search-icon{
    padding: 10px;
    background-color: rgb(230, 165, 14);
    width: 25px;
    border-radius: 0px 5px 5px 0px;
}
.search-icon:hover{
    border: 2px solid rgba(245, 199, 14, 0.684);
    background-color: #ff9c11;
}
.nav-signin{
    color: #cccccc;
    font-size: 0.85rem;
    border: 2px solid transparent;
    border-radius: 5px;
    height: 40px;
    width: 105px;
    padding:5px 0px 0px 5px;
}
.nav-signin:hover{
    border: 3px solid  rgb(247, 247, 247);
}

.card-icon{
    display: flex;
    font-size: 30px;
    color: #cccccc;
    padding-top: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
     width: 67px;
     height: 35px;
}
.card-icon:hover{
    border: 3px solid  rgb(246, 245, 244);
}
.cart{
    margin-top: 10px;
    font-size: 0.85rem;
}
.return,.order{
    font-size: 0.85rem;
    color: #cccccc;

}
.nav-order{
    border: 2px solid transparent;
    border-radius: 5px;
    height: 40px;
    padding-top: 5px;
}
.nav-order:hover{
    border: 3px solid  rgb(238, 236, 233);
}
/** panel **/
.panel{
    display: flex;
    background-color: #222f3d;
    height: 40px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.panel-ops p{
    display: inline;
    font-size: 0.85rem;
    margin-left: 10px;
    
}
.panel-ops{
    width:70% ;
}

.panel-all{
    border: 2px solid transparent;
    border-radius: 5px;
}
.panel-all:hover{
    border: 3px solid #DCEBFF;
}
.panel-txt{
    border: 2px solid transparent;
    border-radius: 5px;
}
.panel-txt:hover{
    border: 3px solid #DCEBFF;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 5px;
}
.panel-deals:hover{
border: 3px solid #DCEBFF;
}
.hero-section{
    height: auto;
    background-color: #EAF2FF;
}
